doctype html
html(lang="en")
    block sharedVars
    head
        title #{pageTitle}
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(charset='utf-8')
    body#starway(class=`${bodyAdditionClass}`)
        header.header
            div.inner.header__wrapper
                a.header__logo(href='/')
                    img(src=require("../images/common/logo.svg"))
                nav.header__menu
                    a(href='#') новинки
                    a(href='#') коллекция
                    a(href='#') о нас
                    a(href='#') контакты
                div.header__control.header-control
                    div.header-control__links
                        a(href='#')
                            img(src=require("../images/icons/cart.svg"))
                    a.header-control__logo(href='#')
                        img(src=require("../images/common/logo--mobile.svg"))
                    a.header-burger.header-control__burger.js-show-menu
                        div.header-burger__item
                        div.header-burger__item
                        div.header-burger__item
        main
            block content
        // popup menu
        div.main-menu
            div.main-menu__wrapper
                div.main-menu__images
                    img.is-active(src=require("../images/common/menu--1.png"), data-slideimg='1')
                    img(src=require("../images/common/menu--2.png"), data-slideimg='2')
                    img(src=require("../images/common/menu--3.png"), data-slideimg='3')
                    img(src=require("../images/common/menu--4.JPG"), data-slideimg='4')
                div.main-menu__content.inner.inner--main-menu
                    div.main-menu__top
                        a(href='/')
                            img(src=require("../images/common/logo.svg"))
                        div.main-menu__links
                            a(href='#')
                                img(src=require("../images/icons/cart.svg"))
                            a.close-main-menu.js-hide-menu
                                img(src=require("../images/icons/close.svg"))
                    div.main-menu__top-mobile
                        a.close-main-menu.js-hide-menu
                            img(src=require("../images/icons/close.svg"))
                        a(href='/')
                            img(src=require("../images/common/logo--mobile.svg"))
                        a(href='#')
                            img(src=require("../images/icons/cart.svg"))
                    div.main-menu__nav.js-slide-image
                        a.cur-page(href='/', data-index='1')
                            span Главная
                        a(href='/', data-index='2')
                            span Коллекция
                        a(href='/', data-index='3')
                            span О нас
                        a(href='/', data-index='4')
                            span Контакты
                    div.main-menu__social
                        p Социальные сети
                        a(href='vk') Вконтакте
                        a(href='inst') Instagram


        div.footer-decoration
        footer.footer.footer--gradient

            div.footer__wrapper.inner
                div.footer__logo
                    img(src=require("../images/common/logo.svg"))
                div.footer__menu
                    a(href='#') новинки
                    a(href='#') коллекция
                    a(href='#') о нас
                    a(href='#') контакты
                div.footer__social
                    a(href='#')
                        img(src=require("../images/icons/vk.svg"))
                    a(href='#')
                        img(src=require("../images/icons/instagram.svg"))

