extends include/layout
append sharedVars
    - const pageUrl = '/';
    - const pageTitle = 'Коллекция';
    - const bodyAdditionClass = 'catalog-page';
    - const pageAdditionClass = 'main-page';
block content

    section.list-product.inner
        p.title.title-name-page коллекция
        p.title Бамбук
        ul.list-product__fabric Шелк
            p.list-product__fiber Бамбук
            li
                a.list-product__name-product(href='#') Брюки
            li
                a.list-product__name-product(href='#') Велосипедки
            li
                a.list-product__name-product(href='#') Кроп-топ
            li
                a.list-product__name-product(href='#') Лиф с захлестом
            li
                a.list-product__name-product(href='#') Лиф с треугольным <br> вырезом
            li
                a.list-product__name-product(href='#') Лонгслив
            li
                a.list-product__name-product(href='#') Майка
            li
                a.list-product__name-product(href='#') Трусики бразильяно
            li
                a.list-product__name-product(href='#') Трусики слипы
            li
                a.list-product__name-product(href='#') Трусики слипы <br> на высокой посадке
            li
                a.list-product__name-product(href='#') Шорты
    section.product-visual
        div.product-visual__box-up.box-img-up
            img.box-img-up__pict-one(src=require("../images/catalog/one.png"))
            img.box-img-up__pict-two(src=require("../images/catalog/two.png"))
            img.box-img-up__pict-three(src=require("../images/catalog/three.png"))
        div.product-visual__box-down.box-img-down
            img.box-img-up__pict-one(src=require("../images/catalog/one-d.png"))
            img.box-img-up__pict-two(src=require("../images/catalog/two-d.png"))
            img.box-img-up__pict-three(src=require("../images/catalog/three-d.png"))

