extends include/layout
append sharedVars
    - const pageUrl = '/';
    - const pageTitle = 'Главная';
    - const bodyAdditionClass = '';
    - const pageAdditionClass = 'main-page';
block content
    section.top-index
        div.top-index__wrapper
            h1.top-index__title Твой идеальный #[br] образ на каждый день

            div.top-index__images.top-image
                img.top-image__item.top-image__item--1(src=require("../images/index/item-1.png"))
                img.top-image__item.top-image__item--2(src=require("../images/index/item-2.png"))
                img.top-image__item.top-image__item--3(src=require("../images/index/item-3.png"))
                img.top-image__item.top-image__item--4(src=require("../images/index/item-4.png"))
                img.top-image__item.top-image__item--5(src=require("../images/index/item-5.png"))
