doctype html
html(lang="en")
    block sharedVars
    head
        title #{pageTitle}
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(charset='utf-8')
    body#zabey(class=`${bodyAdditionClass}`)
            header.header.inner
                a(href='/')
                    img.header__logo(src=require("../images/index/logo.svg"))
                nav.menu
                    a(href='/').menu__link ГЛАВНАЯ
                    a(href='#').menu__link УСЛУГИ
                    a(href='#').menu__link ЗАПИСЬ
                    a(href='#').menu__link КОНТАКТЫ
                    a(href='#').menu__link FAQ
            block content

            //div.cub

            div.footer-decoration
                footer.footer.inner
                    div.footer-menu
                        a(href='#').footer-menu__link ГЛАВНАЯ
                        a(href='#').footer-menu__link УСЛУГИ
                        a(href='#').footer-menu__link ЗАПИСЬ
                        a(href='#').footer-menu__link КОНТАКТЫ
                        a(href='#').footer-menu__link FAQ
                    div.footer-contact
                        div.footer-contact__phone
                            img.footer-img(src=require("../images/index/footer-phone.svg"))
                            p +7 (950) 904-34-25
                        div.footer-contact__map
                            img.footer-img(src=require("../images/index/footer-map.svg"))
                            p Тула, ул.Демидовская #[br] (Заречье), дом 74
                    div.footer-social-media
                        a(href='https://www.instagram.com/zabey_tattoostudio/' target="_blank")
                            img.footer-img(src=require("../images/index/instagram.svg"))
                        a(href='https://vk.com/zabey_tattoostudio' target="_blank")
                            img.footer-img(src=require("../images/index/vk.svg"))





