extends include/layout
append sharedVars
    - const pageUrl = '/';
    - const pageTitle = 'Коллекция';
    - const bodyAdditionClass = 'catalog-page';
    - const pageAdditionClass = 'main-page';
block content

    section.list-product.inner
        div.list-product__wrap
            ul.list-product__fabric Шелк
                p.list-product__fiber Бамбук
                li
                    a.list-product__name-product(href='#') Брюки
                li
                    a.list-product__name-product(href='#') Велосипедки
                li
                    a.list-product__name-product(href='#') Кроп-топ
                li
                    a.list-product__name-product(href='#') Лиф с захлестом
                li
                    a.list-product__name-product(href='#') Лиф с треугольным <br> вырезом
                li
                    a.list-product__name-product(href='#') Лонгслив
                li
                    a.list-product__name-product(href='#') Майка
                li
                    a.list-product__name-product(href='#') Трусики бразильяно
                li
                    a.list-product__name-product(href='#') Трусики слипы
                li
                    a.list-product__name-product(href='#') Трусики слипы <br> на высокой посадке
                li
                    a.list-product__name-product(href='#') Шорты
            div.product-visual
                div.title
                    p.title__name-page коллекция
                    p.title__name-fiber Бамбук
                div.box-img-up
                    div.wr
                        img.box-img-up__image.box-img-up__image--1-size(src=require("../images/catalog/one.png"))
                        div.wr__box-title
                            span.wr__title-phone Штаны
                            span.wr__title.wr__title--tel-d-none Бамбуковые брюки
                            span.wr__sum 2000P
                        span.wr__info-fiber-tel бамбук
                    img.box-img-up__image.box-img-up__image--margin.box-img-up__image--size(src=require("../images/catalog/two.png"))
                    img.box-img-up__image.box-img-up__image--margin-b.box-img-up__image--size(src=require("../images/catalog/three.png"))
                div.box-img-down
                    div.wr
                        img.box-img-down__image.box-img-up__image--1-size(src=require("../images/catalog/one-d.png"))
                        div.wr__box-title
                            span.wr__title-phone Велосипедки
                            span.wr__title.wr__title--tel-d-none Бамбуковые велосипедки
                            span.wr__sum 2000P
                        span.wr__info-fiber-tel бамбук
                    img.box-img-down__image.box-img-up__image--margin.box-img-up__image--size(src=require("../images/catalog/two-d.png"))
                    img.box-img-down__image.box-img-up__image--margin-b(src=require("../images/catalog/three-d.png"))

